
    <div class="modal-content">
      <div class="modal-title mt-3 title">
        <h5 >
          <p class="text-center">{{title}}</p>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">

        </button>
      </div>
      <div class="ml-5 mr-5 mt-2">
        <p class="text-center">{{body}}</p>
        <hr>
      </div>
      <div>
        <form novalidate >
          <div class=" text-center form-check">
            <input class="form-check-input" name="aceito" type="checkbox" [value]="aceitoTermos" id="termos" [(ngModel)]="aceitoTermos">
            <label class="form-check-label" for="termos">
              Aceito os termos econdições acima
            </label>
          </div>
        </form>
      </div>
      <div class="m-2 text-center">
        <button type="button" class="btn btn-primary m-2" (click)="onConfirm()" [disabled]="!aceitoTermos">{{okTxt}}</button>
        <button type="button" class="btn btn-danger m-2" data-dismiss="modal" (click)="onClose()">{{cancelTxt}}</button>
      </div>
    </div>
