.title{
  text-transform: uppercase;
  color: #993399;
}

.pergunta{
  font-size: 20px;
  margin: 10px;
  color: #993399;
  margin-bottom: 20px;
  margin-top: 20px;
}

.alternativa{
  font-size: 14px;
}
hr {
  border:none;
  border-top:2px dashed #993399;
  color:#fff;
  background-color:#fff;
  height:2px;
  width:80%;
}