
<div class="container">
  <h5 class="text-center mt-5 title">PERFIL DO INVESTIDOR - QUESTIONÁRIO</h5>
  <form class="text-center" novalidate >
    <div class="col-12" *ngFor="let pergunta of perguntas; let i = index">
      <div class="mt-5 mb-5 " >
        <h2 class="mb-4 pergunta pergunta">{{pergunta.id}} - {{pergunta.pergunta}}</h2><br>

        <div *ngIf="pergunta.type == 'radio'">
          <div class="form-check form-check-inline col-3" *ngFor="let item of pergunta.alternativas" >
            <input class="form-check-input col-4" type="radio" #resposta="ngModel" (ngModelChange)="isValid()"
            [name]="pergunta.pergunta" [id]="item" [value]="item" required [(ngModel)]="respostas[i]">
            <label class="form-check-label" [for]="item">
              {{item}}
            </label>
          </div>
        </div>

        <div *ngIf="pergunta.type == 'option'">
          <div class="form-check form-check-inline " *ngFor="let option of pergunta.alternativas; let j = index" >
            <div class="form-group">
              <label [for]="option">{{option}}</label>
              <select class="form-control" [id]="option" [name]="option" required
                (ngModelChange)="isValid()" [(ngModel)]="respostas[j+i]">
                <option [value]="item" *ngFor="let item of alternativas">{{item}}</option>
              </select>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-primary m-3" [disabled]="!valid" (click)="salvar()">Salvar</button>
    <button class="btn btn-outline-primary" (click)="home()">Cancelar</button>
  </form>
</div>
