<div class="container">
  <div class="text-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdRGE4eV1ZY_xR9cUIherC86exaXQVhEf0tQ&usqp=CAU" style="height: 100px; width: 100px;">
  </div>
  <h5 class="text-center">INFORMAÇÕES RECEBIDAS!</h5>
  <div class="text-center">
   <p class="mt-3">Em até 48h daremos um retorno sobre a abertura de sua conta</p>
   <p class="mt-3">Para receber nossas recomendações de investimentos e começar a investir,<br> precisamos conhecer seu perfil de investidor.</p>
   <p class="mt-3 ">São apenas 4 perguntas, que irão guiar todas as suas decisões de investimentos.</p>

   <p class="mt-5 "> Gostaria de responder ao Perfil do investidor?</p>

   <button class="btn btn-outline-primary mr-2" (click)="aceito()">SIM</button>
   <button class="btn btn-outline-primary mr-2" (click)="saudacaoClick()">NÃO</button>

  </div>
</div>


